#benefits
    .header-wrap.short
        .header
            ul(data-scalar-y="50", data-origin-y="0")
                li.pbg.layer(data-depth=".1")
                li.i
                    .info-inner
                        .logo.logo-short
                            a(href="/")
                                img(src="/img/dan-logo.svg")
                        .social
                            a.fb(href="https://www.facebook.com/DigitalArtsNetworkMoscow", target="_blank") facebook
                            a.tw(href="https://twitter.com/TBWADAN_Moscow", target="_blank") twitter
                            a.inst(href="http://instagram.com/digitalartsnetworkmoscow", target="_blank") instagram
                            a.pn(href="http://www.pinterest.com/DANMoscow/", target="_blank") pinterest
    .benefits-inn
        .weare
            .prefix We are
            .image
                img(src="/img/benefits/global.png")
            .description
                | Digital Arts Network, DAN&nbsp;&mdash; это глобальная сеть диджитал агентств. Расположен на&nbsp;шести континентах, в&nbsp;23&nbsp;офисах, в&nbsp;работе задействовано около 900&nbsp;специалистов. Агентство существует с 2012&nbsp;года, но&nbsp;уже успело стать &laquo;агентством года&raquo; на&nbsp;территории Азии, Среднего Востока, Латинской Америки и Европы.
        .weare
            .prefix We are
            .image
                img(src="/img/benefits/gamechangers.png")
            .description
                | DAN Moscow привыкли делать digital мирового уровня. При разработке проектов мы&nbsp;используем лучших специалистов со&nbsp;всего мира: UX-стратегов из&nbsp;Новой Зеландии, стратегов из&nbsp;Сингапура, программистов из&nbsp;Индии и&nbsp;Китая, геймдизайнеров из&nbsp;Финляндии и&nbsp;т.д. Взаимообмен профессиональными ресурсами &nbsp;&mdash; основа работы Digital Arts Network.
        .weare.social
            .prefix We are
            .image
                img(src="/img/benefits/social.png")
            .description
                | К&nbsp;каждой публикации в&nbsp;социальной сети мы&nbsp;относимся как к&nbsp;ТВ-ролику. Если у&nbsp;публикации нет задачи, мы&nbsp;не&nbsp;публикуем&nbsp;её. Если есть задача, мы&nbsp;выполняем&nbsp;её. Социальные сети&nbsp;&mdash; это не&nbsp;просто доска объявлений. Мы выходим за&nbsp;рамки бренд-сообществ и&nbsp;выстраиваем присутствие бренда по&nbsp;всей сети.
        .weare.produce
            .prefix We
            .image
                img(src="/img/benefits/produce.png")
            .description
                | Наш собственный штат веб-инженеров позволяет организовать практически идеальный производственный процесс. Мы&nbsp;работаем едиными командами, поэтому любой программист мыслит категориями креатива, продукта и&nbsp;пользовательского опыта. Мы&nbsp;делаем действительно полезные продукты.



        .opinion
            .text
                | Эра независимых digital-агентств, вышедших из&nbsp;дизайн-студий, прошла. Сейчас выигрывают&nbsp;те, кто может предложить клиентам экспертизу мирового уровня, поэтому появление сети DAN в&nbsp;России&nbsp;&mdash; это огромный шаг вперед в&nbsp;развитии всего рынка digital рекламы.
            .person
                .photo
                    img(src="/img/benefits/charkin.png")
                .position
                    |Управляющий директор Digital Arts Network Moscow
                .name
                    | Игорь Чаркин

    .footer-wrap.short
        .footer
            .i
                .info-inner
                    .logo.logo-short
                        a(href="/")
                            img(src="/img/dan-logo.svg")

                        .copy © 2014-2015 DAN Moscow


                    .social
                        a.fb(href="https://www.facebook.com/DigitalArtsNetworkMoscow", target="_blank") facebook
                        a.tw(href="https://twitter.com/TBWADAN_Moscow", target="_blank") twitter
                        a.inst(href="http://instagram.com/digitalartsnetworkmoscow", target="_blank") instagram
                        a.pn(href="http://www.pinterest.com/DANMoscow/", target="_blank") pinterest