#cases
    .header-wrap
        .header
            ul(data-scalar-y="50", data-origin-y="0")
                li.pbg.layer(data-depth=".1")
                li.i
                    .info-inner
                        .logo.logo-big
                            a(href="/")
                                img(src="/img/logo.svg")
                        .logo.logo-short
                            a(href="/")
                                img(src="/img/logo-lil.png")

                        .social
                            a.fb(href="https://www.facebook.com/DigitalArtsNetworkMoscow", target="_blank") facebook
                            a.tw(href="https://twitter.com/TBWADAN_Moscow", target="_blank") twitter
                            a.inst(href="http://instagram.com/digitalartsnetworkmoscow", target="_blank") instagram
                            a.pn(href="http://www.pinterest.com/DANMoscow/", target="_blank") pinterest

    .cases-list
    .footer-wrap
        .footer
            .i
                .info-inner
                    .logo.logo-big
                        a(href="/")
                            img(src="/img/logo.svg")

                        .copy © 2014-2015 DAN Moscow


                    .logo.logo-short
                        a(href="/")
                            img(src="/img/logo-lil.png")

                        .copy © 2014-2015 DAN Moscow


                    .social
                        a.fb(href="https://www.facebook.com/DigitalArtsNetworkMoscow", target="_blank") facebook
                        a.tw(href="https://twitter.com/TBWADAN_Moscow", target="_blank") twitter
                        a.inst(href="http://instagram.com/digitalartsnetworkmoscow", target="_blank") instagram
                        a.pn(href="http://www.pinterest.com/DANMoscow/", target="_blank") pinterest

include ./templates/case
include ./templates/case-link
include ./templates/case-page
include ./templates/case-nav
include ./templates/cases-data/winterwinners/misc
include ./templates/cases-data/printer-sprinter/head
include ./templates/cases-data/identity/head