#top-wrap &nbsp;
    .pointer-top

    .contact.contact-t
        img.logo.logo-t(src="./img/logo-t.png")
        .text
            | Stanislavskogo str. 21 bld.1,
            br
            | 109004, Moscow, Russia
            br
            | bonjour@danmoscow.ru
            br
            | +7 495 544 59 49

#bot-wrap
    .pointer-bot

    .contact.contact-b
        img.logo.logo-b(src="./img/logo-b.png")
        .text
            | Stanislavskogo str. 21 bld.1,
            br
            | 109004, Moscow, Russia
            br
            | bonjour@danmoscow.ru
            br
            | +7 495 544 59 49