#cases
  .case
    &.fluxit
      ul
        .title
          color #0165ce

        .description
          color #FFF

        .links
          a
            .unhovered

              color #0165ce

            .hovered
              background-color #0165ce
              color #fff

    &.printer-sprinter
      ul
        &:hover
          .info
            .title, .description
              color #000
        .links
          a
            .hovered
              background-color #FFF
              color #000

            .unhovered
              color #FFF

      .case-hdr
        .logo
          padding-top 121px
        .title
          font-size 120px
          padding-top 64px

      .case-features
        background #000

      .case-content


        .head
          .slider
            height 707px
            overflow hidden

        .description
          h4
            color #FFF
          background #000
          color #fff

        .solve
          h4
            color #000000

          background #fedc00

        .misc
          .inner
            width 100%

    &.running
      ul

        &:hover

          li.info
            .title
              color #000

            .description
              color #000

        .links
          a
            .unhovered
              color #fff

            .hovered
              background-color #000

              color #fff

              span.desc
                color #fff


      .case-features
        background-color #fedc00

      .case-content
        h4
          color #cb006d

        .description
          background url(/img/running/texture.jpg) top left

        .solve
          background #fedc00



    &.winterwinners
      ul

        .title, .description
          color #FFF

        .links
          a
            .unhovered
              color #fff

            .hovered
              color #000067
              background-color #fff

      .case-hdr
        .title
          font-size 154px
          padding-top 107px

      .case-features
        background-color #030388

      .case-content
        h4
          color #030388

        .description
          background url(/img/winterwinners/track.jpg) top center no-repeat
          background-size auto 100%

        .solve
          background #030388 url(/img/winterwinners/track3.jpg) bottom center no-repeat
          color #fff
          h4
            color #fff

          z-index 1
          position relative

        .misc
          padding-top 0
          .steps
            width 1055px
            margin -178px auto 0
            height 1208px
            background url(/img/winterwinners/track2.jpg) 23px top no-repeat
            position relative
            z-index 0
            font-size 18px
            font-weight 300
            line-height 23px

            & > div
              position absolute

            .hdr
              color #030388
              font-weight bold
              top 509px
              left 144px
              text-transform uppercase


            .pointer
              color #030388
              left 144px
              top 587px
              font-weight bold

            .desc
              left 559px

            .desc-1
              top 509px

            .desc-2
              top 983px

          .slider
            height 554px
            width 995px
            border 30px solid #e5e5ea
            border-radius 10px

          .stand
            margin-top -70px
            position relative
            z-index 30

          .steps, .steps-2
            .desc
              color #8e8ebd
              span
                position absolute
                left -25px
                top 0

          .steps-2
            .desc
              position relative
              margin 80px 0 80px 560px




    &.identity
      ul
        .title, .description
          color #1a1a1a

        .links
          a
            .unhovered
              color #fff

            .hovered
              color #1a1a1a
              background-color #fff

      .case-hdr
        .title
          padding-top 136px
          font-size 123px

      .case-features
        background-color #000
        .code
          color #fedc00


      .case-content

        .head
          .slider
            height 715px
            overflow hidden

          .values
            font-size 18px
            color #919191
            font-weight 100
            text-align center
            margin-top 15px
            height 0

        .description
          h4
            color #fff

          color #fff
          background #000

         .solve
           background #fedd05

         .misc
           .inner
             width 100%

            .deside
              margin 120px 0
              background #2f7fb5
              color #fff
              .inner
                width 860px