#cases .case.fluxit ul .title {
  color: #0165ce;
}
#cases .case.fluxit ul .description {
  color: #fff;
}
#cases .case.fluxit ul .links a .unhovered {
  color: #0165ce;
}
#cases .case.fluxit ul .links a .hovered {
  background-color: #0165ce;
  color: #fff;
}
#cases .case.printer-sprinter ul:hover .info .title,
#cases .case.printer-sprinter ul:hover .info .description {
  color: #000;
}
#cases .case.printer-sprinter ul .links a .hovered {
  background-color: #fff;
  color: #000;
}
#cases .case.printer-sprinter ul .links a .unhovered {
  color: #fff;
}
#cases .case.printer-sprinter .case-hdr .logo {
  padding-top: 121px;
}
#cases .case.printer-sprinter .case-hdr .title {
  font-size: 120px;
  padding-top: 64px;
}
#cases .case.printer-sprinter .case-features {
  background: #000;
}
#cases .case.printer-sprinter .case-content .head .slider {
  height: 707px;
  overflow: hidden;
}
#cases .case.printer-sprinter .case-content .description {
  background: #000;
  color: #fff;
}
#cases .case.printer-sprinter .case-content .description h4 {
  color: #fff;
}
#cases .case.printer-sprinter .case-content .solve {
  background: #fedc00;
}
#cases .case.printer-sprinter .case-content .solve h4 {
  color: #000;
}
#cases .case.printer-sprinter .case-content .misc .inner {
  width: 100%;
}
#cases .case.running ul:hover li.info .title {
  color: #000;
}
#cases .case.running ul:hover li.info .description {
  color: #000;
}
#cases .case.running ul .links a .unhovered {
  color: #fff;
}
#cases .case.running ul .links a .hovered {
  background-color: #000;
  color: #fff;
}
#cases .case.running ul .links a .hovered span.desc {
  color: #fff;
}
#cases .case.running .case-features {
  background-color: #fedc00;
}
#cases .case.running .case-content h4 {
  color: #cb006d;
}
#cases .case.running .case-content .description {
  background: url("/img/running/texture.jpg") top left;
}
#cases .case.running .case-content .solve {
  background: #fedc00;
}
#cases .case.winterwinners ul .title,
#cases .case.winterwinners ul .description {
  color: #fff;
}
#cases .case.winterwinners ul .links a .unhovered {
  color: #fff;
}
#cases .case.winterwinners ul .links a .hovered {
  color: #000067;
  background-color: #fff;
}
#cases .case.winterwinners .case-hdr .title {
  font-size: 154px;
  padding-top: 107px;
}
#cases .case.winterwinners .case-features {
  background-color: #030388;
}
#cases .case.winterwinners .case-content h4 {
  color: #030388;
}
#cases .case.winterwinners .case-content .description {
  background: url("/img/winterwinners/track.jpg") top center no-repeat;
  background-size: auto 100%;
}
#cases .case.winterwinners .case-content .solve {
  background: #030388 url("/img/winterwinners/track3.jpg") bottom center no-repeat;
  color: #fff;
  z-index: 1;
  position: relative;
}
#cases .case.winterwinners .case-content .solve h4 {
  color: #fff;
}
#cases .case.winterwinners .case-content .misc {
  padding-top: 0;
}
#cases .case.winterwinners .case-content .misc .steps {
  width: 1055px;
  margin: -178px auto 0;
  height: 1208px;
  background: url("/img/winterwinners/track2.jpg") 23px top no-repeat;
  position: relative;
  z-index: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
}
#cases .case.winterwinners .case-content .misc .steps > div {
  position: absolute;
}
#cases .case.winterwinners .case-content .misc .steps .hdr {
  color: #030388;
  font-weight: bold;
  top: 509px;
  left: 144px;
  text-transform: uppercase;
}
#cases .case.winterwinners .case-content .misc .steps .pointer {
  color: #030388;
  left: 144px;
  top: 587px;
  font-weight: bold;
}
#cases .case.winterwinners .case-content .misc .steps .desc {
  left: 559px;
}
#cases .case.winterwinners .case-content .misc .steps .desc-1 {
  top: 509px;
}
#cases .case.winterwinners .case-content .misc .steps .desc-2 {
  top: 983px;
}
#cases .case.winterwinners .case-content .misc .slider {
  height: 554px;
  width: 995px;
  border: 30px solid #e5e5ea;
  border-radius: 10px;
}
#cases .case.winterwinners .case-content .misc .stand {
  margin-top: -70px;
  position: relative;
  z-index: 30;
}
#cases .case.winterwinners .case-content .misc .steps .desc,
#cases .case.winterwinners .case-content .misc .steps-2 .desc {
  color: #8e8ebd;
}
#cases .case.winterwinners .case-content .misc .steps .desc span,
#cases .case.winterwinners .case-content .misc .steps-2 .desc span {
  position: absolute;
  left: -25px;
  top: 0;
}
#cases .case.winterwinners .case-content .misc .steps-2 .desc {
  position: relative;
  margin: 80px 0 80px 560px;
}
#cases .case.identity ul .title,
#cases .case.identity ul .description {
  color: #1a1a1a;
}
#cases .case.identity ul .links a .unhovered {
  color: #fff;
}
#cases .case.identity ul .links a .hovered {
  color: #1a1a1a;
  background-color: #fff;
}
#cases .case.identity .case-hdr .title {
  padding-top: 136px;
  font-size: 123px;
}
#cases .case.identity .case-features {
  background-color: #000;
}
#cases .case.identity .case-features .code {
  color: #fedc00;
}
#cases .case.identity .case-content .head .slider {
  height: 715px;
  overflow: hidden;
}
#cases .case.identity .case-content .head .values {
  font-size: 18px;
  color: #919191;
  font-weight: 100;
  text-align: center;
  margin-top: 15px;
  height: 0;
}
#cases .case.identity .case-content .description {
  color: #fff;
  background: #000;
}
#cases .case.identity .case-content .description h4 {
  color: #fff;
}
#cases .case.identity .case-content .solve {
  background: #fedd05;
}
#cases .case.identity .case-content .misc .inner {
  width: 100%;
}
#cases .case.identity .case-content .misc .deside {
  margin: 120px 0;
  background: #2f7fb5;
  color: #fff;
}
#cases .case.identity .case-content .misc .deside .inner {
  width: 860px;
}
