vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  -ms-{prop} args
  {prop} args

@keyframes lln {
  0% {
    margin-left -150%
  }
  50% {
    margin-left 0%
  }
  100% {
    margin-left 150%
  }
}

@font-face
  font-family 'helveticaneuecyr'
  src url('../fonts/helveticaneuecyr-bold-webfont.eot')
  src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'), url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype'), url('../fonts/helveticaneuecyr-bold-webfont.svg') format('svg')
  font-weight bold
  font-style normal

@font-face
  font-family 'helveticaneuecyr'
  src url('../fonts/helveticaneuecyr-thin-webfont.eot')
  src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'), url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype'), url('../fonts/helveticaneuecyr-thin-webfont.svg') format('svg')
  font-weight 100
  font-style normal

@font-face
  font-family 'helveticaneuecyr'
  src url('../fonts/helveticaneuecyr-ultralight-webfont.eot')
  src: url('../fonts/helveticaneuecyr-ultralight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-ultralight-webfont.woff') format('woff'), url('../fonts/helveticaneuecyr-ultralight-webfont.ttf') format('truetype'), url('../fonts/helveticaneuecyr-ultralight-webfont.svg') format('svg')
  font-weight 200
  font-style normal
@font-face
  font-family 'helveticaneuecyr'
  src url('../fonts/helveticaneuecyr-lighet-webfont.eot')
  src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'), url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype'), url('../fonts/helveticaneuecyr-light-webfont.svg') format('svg')
  font-weight 300
  font-style normal

@font-face
  font-family 'helveticacy'
  src url('../fonts/helveticacy-webfont.eot')
  src: url('../fonts/helveticacy-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticacy-webfont.woff') format('woff'), url('../fonts/helveticacy-webfont.ttf') format('truetype'), url('../fonts/helveticacy-webfont.svg') format('svg')
  font-weight 100
  font-style normal

@font-face
  font-family 'adineuebold'
  src url('../fonts/adineuebold-webfont.eot')
  src: url('../fonts/adineuebold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/adineuebold-webfont.woff') format('woff'), url('../fonts/adineuebold-webfont.ttf') format('truetype'), url('../fonts/adineuebold-webfont.svg') format('svg')
  font-style normal

html, body
  height 100%
  font-family helveticaneuecyr

body
  min-width 1400px

#wrap
  background #000
  position relative
  min-width 820px
  width 100%

  height 100%

  &.cases
    background #000
    height auto
    #cases
      height auto
      display block

  &.front
    height 3000px
    #scroller, #bot-wrap, #top-wrap
      display block

  &.benefits
    #benefits
      height auto
      display block

      .header, .footer
        display block

#scroller
  height 1px
  top 1500px
  position absolute

#bot-wrap, #top-wrap, #scroller
  display none

#bot-wrap, #top-wrap

  position fixed
  left 0
  width 100%
  /*vendor(transition, height 0.3s)*/
  overflow hidden

  img
    width 100%
    vendor(transition, width .5s)

#top-wrap
  height 50%
  background #ffdb00
  .pointer-top
    background url(/img/scup4benefits.png) 50% 50% no-repeat
    width 173px
    height 73px
    top 50px
    position absolute
    left 50%
    margin-left -86px
  top 0

#bot-wrap
  height 50%
  background #000
  .pointer-bot

    height 70px
    width 235px
    background url(/img/scdown4benefits.png) 50% 90% no-repeat
    position absolute
    bottom 50px
    left 50%
    margin-left -117px

  bottom 0

.contact
  position absolute
  left 50%

  margin-left -405px

  &.contact-b
    margin-bottom -214px
    color #FFF

  &.contact-t
    margin-top -98px

  .text
    vendor(transition, opacity 0.3s)
    margin-top 40px
    position relative

    &:before
      content ""
      position absolute
      top -3px
      left -16px
      width 12px
      height 22px
      background url(/img/pointer.png) 50% 50% no-repeat

#cases
  .header
    .info-inner

      background url(/img/scup4benefits-w.png) 50% 50% no-repeat
  .footer
    .info-inner
      background url(/img/scdown4benefits-w.png) 50% 50% no-repeat

      .logo-big
        .copy
          font-size 12px
          color #5c5c5c
          padding-top 26px

      .logo-short
        .copy
          font-size 12px
          color #5c5c5c
          padding-top 12px

  vendor(transition, 2s height .5s)
  position relative
  overflow hidden
  height 0
  background #303030
  width 100%

  .header
    .pbg
      opacity 0

  .cases-list
    .case
      height 400px
      width 100%

      /*vendor(transition, 3s .1s)*/

      &:hover
        ul
          li.info
            .links
              a
                .hovered
                  width 74px

      ul
        overflow hidden
        list-style none
        position relative
        margin 0
        padding 0
        height 100%
        background-repeat no-repeat
        background-size auto 100%

        li
          display block
          position absolute
          margin 0
          padding 0

          &.over
            position absolute
            top 0
            overflow hidden
            vendor(transition, .3s .1s)
            .bg
              opacity 1
              width 100%
              height 100%
              position absolute
              top 0

              background transparent 50% 50% no-repeat
              background-size auto 100%
              vendor(transition, .3s .1s)

          &.info
            vendor(transition, .3s all ease-out)
            width 450px
            top 136px
            .title
              color #fff
              font-size 18px
              text-transform uppercase
              font-weight bold
              margin-left -12px
              margin-bottom 5px
              vendor(transition, .3s color ease-out)

            .description
              color #fff
              font-size 18px
              font-weight 100
              max-width 500px
              min-height 70px
              vendor(transition, .3s color ease-out)

            .links
              margin-left -9px
              font-size 24px
              font-weight 100

              a
                text-decoration none
                float left
                margin-right 1px
                position relative
                display block
                width 74px
                height 74px
                overflow hidden
                .unhovered, .hovered
                  overflow hidden
                  padding 6px 0 30px
                  position absolute
                  top 0
                  left 0

                  span
                    margin 0 9px
                    display block
                    text-transform uppercase
                    line-height 27px

                    &.desc
                      font-family helveticacy
                      font-size 10px
                      line-height 13px

                .hovered
                  font-weight bold
                  width 0px
                  vendor(transition, .05s width)

                  &.index-0
                    vendor(transition-delay, 0s)
                  &.index-1
                    vendor(transition-delay, .05s)
                  &.index-2
                    vendor(transition-delay, .1s)
                  &.index-3
                    vendor(transition-delay, .15s)
                  &.index-4
                    vendor(transition-delay, .2s)
                  &.index-5
                    vendor(transition-delay, .25s)
                  &.index-6
                    vendor(transition-delay, .3s)

                .unhovered
                  width 84px

          &.link, &.link a
            width 100%
            height 100%
            position absolute

            top 0
            left 0

      &.odd

        ul

          background-position left top
          .over
            width 100%
            height 100%
            margin-left 0%
            right 0

            .bg
              right 0
              background-position top center


          li.info
            right 50%
            margin-right 85px

        &:hover

          li.info
            margin-right -558px

          li.over
            width 50%

            .bg
              opacity 0

      &.even

        ul
          background-position right top
          li.info
            right 50%
            margin-right -550px

          .over
            left 0
            /*vendor(transform, skew(-20deg))*/
            width 100%
            height 100%
            /*margin-left -5%*/
            .bg
              left 0
              background-position top center
          /*vendor(transform, skew(20deg))*/

        &:hover

          li.info
            /*right 100%*/
            margin-right 85px


          li.over
            width 50%
            .bg
              opacity 0

      &.loaded
        margin-left 0

.case-page
  height 0
  color #fff
  overflow hidden
  vendor(transition, 5s)

  .menu
    height 108px
    .nav-item

      &:hover
        .title
          .bg
            opacity 0


          &.black
            span
              color #000

          &.white
            span
              color #FFF

          .preview
            width 225px

      overflow hidden
      position relative
      float left
      width 50%
      background-size auto 100%
      height 108px
      background-repeat no-repeat

      &.prev
        &:hover
          .title
            span
              right 265px

            &.black
              span
                background-image url(/img/arr-left-black.png)

        background-position top right


        .title

          /*left 0*/
          span
            vendor(transition, .2s right)
            padding-left 55px
            right 40px
            background transparent top left no-repeat
            background-image url(/img/arr-left-white.png)


          .preview
            background-position top right
            right 0

      &.next

        &:hover
          .title


            &.black
              span
                background-image url(/img/arr-right-black.png)

            span
              left 265px


        background-position top left
        .title
          span

            vendor(transition, .2s left)

            padding-right 55px
            left 40px
            background transparent top right no-repeat
            background-image url(/img/arr-right-white.png)

          .preview
            background-position top left
            left 0

      a
        display block
        top 0
        left 0
        width 100%
        height 100%
        position absolute

      .title
        height 100%
        position absolute
        width 100%
        background transparent
        font-weight bold
        text-transform uppercase
        font-size 14px
        vendor(transition, .3s all)


        .bg
          width 100%
          height 100%
          background transparent 50% 50% no-repeat
          vendor(transition, .3s all)


        span
          top 45px
          display block
          position absolute
          height 18px


        .preview
          position absolute
          top 0
          height 100%
          width 0px
          background-repeat no-repeat
          vendor(transition, .3s all)






  .case
     background #FFF
    .case-hdr
      height 598px
      background transparent 50% 50% no-repeat
      background-size auto 100%
      text-align center
      position relative


      .content
        width 100%
        position absolute
        z-index 2

        .logo
          padding 87px 0 0

        .title
          font-family adineuebold
          /*font-weight bold*/
          font-size 122px
          padding 100px 100px 0
          line-height 100px


        .site
          font-weight  100
          /*font-style italic*/
          font-size 18px
          /*text-transform uppercase*/
          padding-top 190px
          a
            color #FFF
            text-decoration none
            border-bottom 1px solid #FFF

    .case-features
      background transparent 50% 50% no-repeat
      .case-features-inner
        margin 0 auto
        height 300px
        .case-link-big
          float left
          text-align center
          margin 74px 0
          span
            display block

            &.code
              font-size 100px
              font-weight 200
              line-height 127px

            &.name
              font-family helveticacy
              /*font-weight bold*/
              font-size 18px
              text-transform uppercase


        &.features-4
          width 1100px

          .case-link-big
            width 275px

        &.features-5
          width 1150px
          .case-link-big
            width 230px

        &.features-2
          width 610px
          .case-link-big
            width 300px


    .case-likes
      height 20px
      padding 50px 0

      width 300px
      margin 0 auto

      div
        float left

      .fb-wr
        height 20px
        float left
      .tw-like
        height 20px
        float right

    .case-content
      color #000
      .inner
        width 1060px
        margin 0 auto

      .head
        padding-bottom 120px

      .description, .solve
        font-size 38px
        font-weight 100
        line-height 46px

        .inner
          width 860px
          padding 120px 80px 120px 121px

        h4
          font-size 20px
          font-weight bold
          text-transform uppercase
          margin 0 0 12px
          line-height 20px

          &:not(:first-of-type)
            margin-top 49px

      .misc
        padding 140px 0 0px

  &.loaded
    height auto


.template
  display none !important
.slider
  .slidesjs-control
    vendor(transition-timing-function, ease-out)
  /*overflow hidden*/
  /*position relative*/
  /*ul*/
    /*margin 0*/
    /*padding 0*/
    /*width 100%*/
  /*li*/
    /*float left*/
    /*margin 0 0px 0 0*/
    /*list-style none*/


.scrollPoint
  width 100%
  height 1px
  position absolute

  &.sp-top
    top -1px

  &.sp-bottom
    bottom -1px



.i
    position absolute
    left 0
    top 0
    width 100%

    .info-inner
      width 1060px
      height 200px
      margin 0 auto
      position relative
      padding 0 50px

      .logo
        position relative
        top 67px

        &.logo-short
          display none
          top 43px

      .social
        vendor(transition, 1s)

        position absolute
        right 50px
        width 107px
        top 61px
        a
          text-decoration none
          text-transform uppercase
          font-size 12px
          color #fff
          font-weight bold
          display block
          padding-left 20px
          line-height 20px
          background-repeat no-repeat
          vendor(transition, 1s)

          &:hover
            color #ffdb00

          &.fb
            background-image url(/img/fb.svg)
            background-position 4px 2px
          &.tw
            background-image url(/img/tv.svg)
            background-position 1px 2px
          &.inst
            background-image url(/img/inst.svg)
            background-position 1px 2px
          &.pn
            background-image url(/img/pint.svg)
            background-position 1px 2px

.header-wrap
    height 200px
    vendor(transition, 1s)

  .header
    vendor(transition, 1s)
    width 100%
    height 0px

    ul
      margin 0
      padding 0
      overflow hidden

    li
      display block
      margin 0
      padding 0

    .pbg
      background #303030 url(../img/cases-header.jpg) 50% 50% no-repeat
      height 200px
      /*width 120%*/
      width 100%
      position absolute
      top 0
      left 0
      /*margin-left -100px*/

      vendor(transition, 1s)

.header-wrap.short, .footer-wrap.short
    height 108px
    background #000

    .header, .footer
      .pbg
        opacity 0

      .i
        .info-inner

          height 108px

          .logo-big
            display none
          .logo-short
            display block

          .social
            top 23px
            a
              font-size 10px
              line-height 16px
              &.fb
                background-image url(/img/fb-yell.svg)
              &.tw
                background-image url(/img/tw-yell.svg)
              &.inst
                background-image url(/img/inst-yell.svg)
              &.pn
                background-image url(/img/pin-yell.svg)

.footer-wrap
    height 215px
    background #000

    &.short
      height 110px
  .footer
    position relative
    width 100%
    height 0px




#benefits
  overflow hidden
  display none
  vendor(transition, 2s height .5s)
  background #000
  height 0
  .header, .footer
    display none
    background url(/img/benefits-header.jpg) 50% 50%
    background-size auto 100%
    height 100%

    .i
      .info-inner
        width 940px
        height 108px

    &.header
      .info-inner

        background url(/img/scup4cases.png) 50% 50% no-repeat
    &.footer


      .copy
        font-size 12px
        color #000
        padding-top 12px

      .info-inner
        background url(/img/scdown4cases.png) 50% 50% no-repeat

  .social
    a
      color #000



      &.fb
          background-image url(/img/fb-bl.svg)
      &.tw
        background-image url(/img/tw-bl.svg)
      &.inst
        background-image url(/img/inst-bl.svg)
      &.pn
        background-image url(/img/pin-bl.svg)




  .benefits-inn
    width 940px
    margin 67px auto 94px

    .weare
      padding 33px 0
      .prefix
        color #ffda35
        font-size 30px
        font-weight 100

      .image
        margin 12px 0px 38px -4px

      .description
        color #fff
        width 435px
        padding 23px 0
        background url(/img/benefits/description.jpg) top left no-repeat
        font-size 15px
        line-height 18px

      &.social
        .image
          margin-left -20px
      &.produce
        .image
          margin-left -11px

    .opinion
      padding-top: 54px
      .text
        font-size 30px
        font-weight 100
        line-height 36px
        color #fff
        width 820px

        &:before, &:after
          color #ffda35
          position absolute
          font-weight bold

        &:before
          content "“"
          margin-left -22px

        &:after
          content "”"

      .person
        padding 31px 50px
        background url("/img/benefits/copy.png") 3px 45px no-repeat
        color #fff
        font-size 14px
        width 255px
        line-height 17px
        .photo
          float left
          margin-right 14px
        .position
          margin-top 9px
          font-weight 100
        .name
          text-transform uppercase
          font-weight bold


.overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background #000
  opacity 0
  z-index -1
  overflow hidden
  vendor(transition, 1s)

  &.active
    opacity 1
    z-index 100
    .line
      vendor(animation, 1.5s lln infinite 1s)



  .line
    width 150%
    height 2px
    background #ffdb00
    position absolute
    top 50%
    margin-top -1px
    margin-left -150%


hr
  border-top none
  margin 5px 0