@font-face {
  font-family: 'helveticaneuecyr';
  src: url("../fonts/helveticaneuecyr-bold-webfont.eot");
  src: url("../fonts/helveticaneuecyr-bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/helveticaneuecyr-bold-webfont.woff") format('woff'), url("../fonts/helveticaneuecyr-bold-webfont.ttf") format('truetype'), url("../fonts/helveticaneuecyr-bold-webfont.svg") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyr';
  src: url("../fonts/helveticaneuecyr-thin-webfont.eot");
  src: url("../fonts/helveticaneuecyr-thin-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/helveticaneuecyr-thin-webfont.woff") format('woff'), url("../fonts/helveticaneuecyr-thin-webfont.ttf") format('truetype'), url("../fonts/helveticaneuecyr-thin-webfont.svg") format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyr';
  src: url("../fonts/helveticaneuecyr-ultralight-webfont.eot");
  src: url("../fonts/helveticaneuecyr-ultralight-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/helveticaneuecyr-ultralight-webfont.woff") format('woff'), url("../fonts/helveticaneuecyr-ultralight-webfont.ttf") format('truetype'), url("../fonts/helveticaneuecyr-ultralight-webfont.svg") format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyr';
  src: url("../fonts/helveticaneuecyr-lighet-webfont.eot");
  src: url("../fonts/helveticaneuecyr-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/helveticaneuecyr-light-webfont.woff") format('woff'), url("../fonts/helveticaneuecyr-light-webfont.ttf") format('truetype'), url("../fonts/helveticaneuecyr-light-webfont.svg") format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'helveticacy';
  src: url("../fonts/helveticacy-webfont.eot");
  src: url("../fonts/helveticacy-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/helveticacy-webfont.woff") format('woff'), url("../fonts/helveticacy-webfont.ttf") format('truetype'), url("../fonts/helveticacy-webfont.svg") format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'adineuebold';
  src: url("../fonts/adineuebold-webfont.eot");
  src: url("../fonts/adineuebold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/adineuebold-webfont.woff") format('woff'), url("../fonts/adineuebold-webfont.ttf") format('truetype'), url("../fonts/adineuebold-webfont.svg") format('svg');
  font-style: normal;
}
html,
body {
  height: 100%;
  font-family: helveticaneuecyr;
}
body {
  min-width: 1400px;
}
#wrap {
  background: #000;
  position: relative;
  min-width: 820px;
  width: 100%;
  height: 100%;
}
#wrap.cases {
  background: #000;
  height: auto;
}
#wrap.cases #cases {
  height: auto;
  display: block;
}
#wrap.front {
  height: 3000px;
}
#wrap.front #scroller,
#wrap.front #bot-wrap,
#wrap.front #top-wrap {
  display: block;
}
#wrap.benefits #benefits {
  height: auto;
  display: block;
}
#wrap.benefits #benefits .header,
#wrap.benefits #benefits .footer {
  display: block;
}
#scroller {
  height: 1px;
  top: 1500px;
  position: absolute;
}
#bot-wrap,
#top-wrap,
#scroller {
  display: none;
}
#bot-wrap,
#top-wrap {
  position: fixed;
  left: 0;
  width: 100%;
/*vendor(transition, height 0.3s)*/
  overflow: hidden;
}
#bot-wrap img,
#top-wrap img {
  width: 100%;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  -ms-transition: width 0.5s;
  transition: width 0.5s;
}
#top-wrap {
  height: 50%;
  background: #ffdb00;
  top: 0;
}
#top-wrap .pointer-top {
  background: url("/img/scup4benefits.png") 50% 50% no-repeat;
  width: 173px;
  height: 73px;
  top: 50px;
  position: absolute;
  left: 50%;
  margin-left: -86px;
}
#bot-wrap {
  height: 50%;
  background: #000;
  bottom: 0;
}
#bot-wrap .pointer-bot {
  height: 70px;
  width: 235px;
  background: url("/img/scdown4benefits.png") 50% 90% no-repeat;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -117px;
}
.contact {
  position: absolute;
  left: 50%;
  margin-left: -405px;
}
.contact.contact-b {
  margin-bottom: -214px;
  color: #fff;
}
.contact.contact-t {
  margin-top: -98px;
}
.contact .text {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  margin-top: 40px;
  position: relative;
}
.contact .text:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -16px;
  width: 12px;
  height: 22px;
  background: url("/img/pointer.png") 50% 50% no-repeat;
}
#cases {
  -webkit-transition: 2s height 0.5s;
  -moz-transition: 2s height 0.5s;
  -o-transition: 2s height 0.5s;
  -ms-transition: 2s height 0.5s;
  transition: 2s height 0.5s;
  position: relative;
  overflow: hidden;
  height: 0;
  background: #303030;
  width: 100%;
}
#cases .header .info-inner {
  background: url("/img/scup4benefits-w.png") 50% 50% no-repeat;
}
#cases .footer .info-inner {
  background: url("/img/scdown4benefits-w.png") 50% 50% no-repeat;
}
#cases .footer .info-inner .logo-big .copy {
  font-size: 12px;
  color: #5c5c5c;
  padding-top: 26px;
}
#cases .footer .info-inner .logo-short .copy {
  font-size: 12px;
  color: #5c5c5c;
  padding-top: 12px;
}
#cases .header .pbg {
  opacity: 0;
}
#cases .cases-list .case {
  height: 400px;
  width: 100%;
/*vendor(transition, 3s .1s)*/
}
#cases .cases-list .case:hover ul li.info .links a .hovered {
  width: 74px;
}
#cases .cases-list .case ul {
  overflow: hidden;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
#cases .cases-list .case ul li {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
}
#cases .cases-list .case ul li.over {
  position: absolute;
  top: 0;
  overflow: hidden;
  -webkit-transition: 0.3s 0.1s;
  -moz-transition: 0.3s 0.1s;
  -o-transition: 0.3s 0.1s;
  -ms-transition: 0.3s 0.1s;
  transition: 0.3s 0.1s;
}
#cases .cases-list .case ul li.over .bg {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: transparent 50% 50% no-repeat;
  background-size: auto 100%;
  -webkit-transition: 0.3s 0.1s;
  -moz-transition: 0.3s 0.1s;
  -o-transition: 0.3s 0.1s;
  -ms-transition: 0.3s 0.1s;
  transition: 0.3s 0.1s;
}
#cases .cases-list .case ul li.info {
  -webkit-transition: 0.3s all ease-out;
  -moz-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  -ms-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  width: 450px;
  top: 136px;
}
#cases .cases-list .case ul li.info .title {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: -12px;
  margin-bottom: 5px;
  -webkit-transition: 0.3s color ease-out;
  -moz-transition: 0.3s color ease-out;
  -o-transition: 0.3s color ease-out;
  -ms-transition: 0.3s color ease-out;
  transition: 0.3s color ease-out;
}
#cases .cases-list .case ul li.info .description {
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  max-width: 500px;
  min-height: 70px;
  -webkit-transition: 0.3s color ease-out;
  -moz-transition: 0.3s color ease-out;
  -o-transition: 0.3s color ease-out;
  -ms-transition: 0.3s color ease-out;
  transition: 0.3s color ease-out;
}
#cases .cases-list .case ul li.info .links {
  margin-left: -9px;
  font-size: 24px;
  font-weight: 100;
}
#cases .cases-list .case ul li.info .links a {
  text-decoration: none;
  float: left;
  margin-right: 1px;
  position: relative;
  display: block;
  width: 74px;
  height: 74px;
  overflow: hidden;
}
#cases .cases-list .case ul li.info .links a .unhovered,
#cases .cases-list .case ul li.info .links a .hovered {
  overflow: hidden;
  padding: 6px 0 30px;
  position: absolute;
  top: 0;
  left: 0;
}
#cases .cases-list .case ul li.info .links a .unhovered span,
#cases .cases-list .case ul li.info .links a .hovered span {
  margin: 0 9px;
  display: block;
  text-transform: uppercase;
  line-height: 27px;
}
#cases .cases-list .case ul li.info .links a .unhovered span.desc,
#cases .cases-list .case ul li.info .links a .hovered span.desc {
  font-family: helveticacy;
  font-size: 10px;
  line-height: 13px;
}
#cases .cases-list .case ul li.info .links a .hovered {
  font-weight: bold;
  width: 0px;
  -webkit-transition: 0.05s width;
  -moz-transition: 0.05s width;
  -o-transition: 0.05s width;
  -ms-transition: 0.05s width;
  transition: 0.05s width;
}
#cases .cases-list .case ul li.info .links a .hovered.index-0 {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
#cases .cases-list .case ul li.info .links a .hovered.index-1 {
  -webkit-transition-delay: 0.05s;
  -moz-transition-delay: 0.05s;
  -o-transition-delay: 0.05s;
  -ms-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
#cases .cases-list .case ul li.info .links a .hovered.index-2 {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
#cases .cases-list .case ul li.info .links a .hovered.index-3 {
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  -ms-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
#cases .cases-list .case ul li.info .links a .hovered.index-4 {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
#cases .cases-list .case ul li.info .links a .hovered.index-5 {
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
#cases .cases-list .case ul li.info .links a .hovered.index-6 {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
#cases .cases-list .case ul li.info .links a .unhovered {
  width: 84px;
}
#cases .cases-list .case ul li.link,
#cases .cases-list .case ul li.link a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#cases .cases-list .case.odd ul {
  background-position: left top;
}
#cases .cases-list .case.odd ul .over {
  width: 100%;
  height: 100%;
  margin-left: 0%;
  right: 0;
}
#cases .cases-list .case.odd ul .over .bg {
  right: 0;
  background-position: top center;
}
#cases .cases-list .case.odd ul li.info {
  right: 50%;
  margin-right: 85px;
}
#cases .cases-list .case.odd:hover li.info {
  margin-right: -558px;
}
#cases .cases-list .case.odd:hover li.over {
  width: 50%;
}
#cases .cases-list .case.odd:hover li.over .bg {
  opacity: 0;
}
#cases .cases-list .case.even ul {
  background-position: right top;
/*vendor(transform, skew(20deg))*/
}
#cases .cases-list .case.even ul li.info {
  right: 50%;
  margin-right: -550px;
}
#cases .cases-list .case.even ul .over {
  left: 0;
/*vendor(transform, skew(-20deg))*/
  width: 100%;
  height: 100%;
/*margin-left -5%*/
}
#cases .cases-list .case.even ul .over .bg {
  left: 0;
  background-position: top center;
}
#cases .cases-list .case.even:hover li.info {
/*right 100%*/
  margin-right: 85px;
}
#cases .cases-list .case.even:hover li.over {
  width: 50%;
}
#cases .cases-list .case.even:hover li.over .bg {
  opacity: 0;
}
#cases .cases-list .case.loaded {
  margin-left: 0;
}
.case-page {
  height: 0;
  color: #fff;
  overflow: hidden;
  -webkit-transition: 5s;
  -moz-transition: 5s;
  -o-transition: 5s;
  -ms-transition: 5s;
  transition: 5s;
}
.case-page .menu {
  height: 108px;
}
.case-page .menu .nav-item {
  overflow: hidden;
  position: relative;
  float: left;
  width: 50%;
  background-size: auto 100%;
  height: 108px;
  background-repeat: no-repeat;
}
.case-page .menu .nav-item:hover .title .bg {
  opacity: 0;
}
.case-page .menu .nav-item:hover .title.black span {
  color: #000;
}
.case-page .menu .nav-item:hover .title.white span {
  color: #fff;
}
.case-page .menu .nav-item:hover .title .preview {
  width: 225px;
}
.case-page .menu .nav-item.prev {
  background-position: top right;
}
.case-page .menu .nav-item.prev:hover .title span {
  right: 265px;
}
.case-page .menu .nav-item.prev:hover .title.black span {
  background-image: url("/img/arr-left-black.png");
}
.case-page .menu .nav-item.prev .title span {
  -webkit-transition: 0.2s right;
  -moz-transition: 0.2s right;
  -o-transition: 0.2s right;
  -ms-transition: 0.2s right;
  transition: 0.2s right;
  padding-left: 55px;
  right: 40px;
  background: transparent top left no-repeat;
  background-image: url("/img/arr-left-white.png");
}
.case-page .menu .nav-item.prev .title .preview {
  background-position: top right;
  right: 0;
}
.case-page .menu .nav-item.next {
  background-position: top left;
}
.case-page .menu .nav-item.next:hover .title.black span {
  background-image: url("/img/arr-right-black.png");
}
.case-page .menu .nav-item.next:hover .title span {
  left: 265px;
}
.case-page .menu .nav-item.next .title span {
  -webkit-transition: 0.2s left;
  -moz-transition: 0.2s left;
  -o-transition: 0.2s left;
  -ms-transition: 0.2s left;
  transition: 0.2s left;
  padding-right: 55px;
  left: 40px;
  background: transparent top right no-repeat;
  background-image: url("/img/arr-right-white.png");
}
.case-page .menu .nav-item.next .title .preview {
  background-position: top left;
  left: 0;
}
.case-page .menu .nav-item a {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.case-page .menu .nav-item .title {
  height: 100%;
  position: absolute;
  width: 100%;
  background: transparent;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.case-page .menu .nav-item .title .bg {
  width: 100%;
  height: 100%;
  background: transparent 50% 50% no-repeat;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.case-page .menu .nav-item .title span {
  top: 45px;
  display: block;
  position: absolute;
  height: 18px;
}
.case-page .menu .nav-item .title .preview {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0px;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.case-page .case {
  background: #fff;
}
.case-page .case-hdr {
  height: 598px;
  background: transparent 50% 50% no-repeat;
  background-size: auto 100%;
  text-align: center;
  position: relative;
}
.case-page .case-hdr .content {
  width: 100%;
  position: absolute;
  z-index: 2;
}
.case-page .case-hdr .content .logo {
  padding: 87px 0 0;
}
.case-page .case-hdr .content .title {
  font-family: adineuebold;
/*font-weight bold*/
  font-size: 122px;
  padding: 100px 100px 0;
  line-height: 100px;
}
.case-page .case-hdr .content .site {
  font-weight: 100;
/*font-style italic*/
  font-size: 18px;
/*text-transform uppercase*/
  padding-top: 190px;
}
.case-page .case-hdr .content .site a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.case-page .case-features {
  background: transparent 50% 50% no-repeat;
}
.case-page .case-features .case-features-inner {
  margin: 0 auto;
  height: 300px;
}
.case-page .case-features .case-features-inner .case-link-big {
  float: left;
  text-align: center;
  margin: 74px 0;
}
.case-page .case-features .case-features-inner .case-link-big span {
  display: block;
}
.case-page .case-features .case-features-inner .case-link-big span.code {
  font-size: 100px;
  font-weight: 200;
  line-height: 127px;
}
.case-page .case-features .case-features-inner .case-link-big span.name {
  font-family: helveticacy;
/*font-weight bold*/
  font-size: 18px;
  text-transform: uppercase;
}
.case-page .case-features .case-features-inner.features-4 {
  width: 1100px;
}
.case-page .case-features .case-features-inner.features-4 .case-link-big {
  width: 275px;
}
.case-page .case-features .case-features-inner.features-5 {
  width: 1150px;
}
.case-page .case-features .case-features-inner.features-5 .case-link-big {
  width: 230px;
}
.case-page .case-features .case-features-inner.features-2 {
  width: 610px;
}
.case-page .case-features .case-features-inner.features-2 .case-link-big {
  width: 300px;
}
.case-page .case-likes {
  height: 20px;
  padding: 50px 0;
  width: 300px;
  margin: 0 auto;
}
.case-page .case-likes div {
  float: left;
}
.case-page .case-likes .fb-wr {
  height: 20px;
  float: left;
}
.case-page .case-likes .tw-like {
  height: 20px;
  float: right;
}
.case-page .case-content {
  color: #000;
}
.case-page .case-content .inner {
  width: 1060px;
  margin: 0 auto;
}
.case-page .case-content .head {
  padding-bottom: 120px;
}
.case-page .case-content .description,
.case-page .case-content .solve {
  font-size: 38px;
  font-weight: 100;
  line-height: 46px;
}
.case-page .case-content .description .inner,
.case-page .case-content .solve .inner {
  width: 860px;
  padding: 120px 80px 120px 121px;
}
.case-page .case-content .description h4,
.case-page .case-content .solve h4 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 12px;
  line-height: 20px;
}
.case-page .case-content .description h4:not(:first-of-type),
.case-page .case-content .solve h4:not(:first-of-type) {
  margin-top: 49px;
}
.case-page .case-content .misc {
  padding: 140px 0 0px;
}
.case-page.loaded {
  height: auto;
}
.template {
  display: none !important;
}
.slider .slidesjs-control {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/*li*/
/*float left*/
/*margin 0 0px 0 0*/
/*list-style none*/
.scrollPoint {
  width: 100%;
  height: 1px;
  position: absolute;
}
.scrollPoint.sp-top {
  top: -1px;
}
.scrollPoint.sp-bottom {
  bottom: -1px;
}
.i {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.i .info-inner {
  width: 1060px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  padding: 0 50px;
}
.i .info-inner .logo {
  position: relative;
  top: 67px;
}
.i .info-inner .logo.logo-short {
  display: none;
  top: 43px;
}
.i .info-inner .social {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  position: absolute;
  right: 50px;
  width: 107px;
  top: 61px;
}
.i .info-inner .social a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  display: block;
  padding-left: 20px;
  line-height: 20px;
  background-repeat: no-repeat;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}
.i .info-inner .social a:hover {
  color: #ffdb00;
}
.i .info-inner .social a.fb {
  background-image: url("/img/fb.svg");
  background-position: 4px 2px;
}
.i .info-inner .social a.tw {
  background-image: url("/img/tv.svg");
  background-position: 1px 2px;
}
.i .info-inner .social a.inst {
  background-image: url("/img/inst.svg");
  background-position: 1px 2px;
}
.i .info-inner .social a.pn {
  background-image: url("/img/pint.svg");
  background-position: 1px 2px;
}
.header-wrap {
  height: 200px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}
.header {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  width: 100%;
  height: 0px;
}
.header ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header li {
  display: block;
  margin: 0;
  padding: 0;
}
.header .pbg {
  background: #303030 url("../img/cases-header.jpg") 50% 50% no-repeat;
  height: 200px;
/*width 120%*/
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
/*margin-left -100px*/
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}
.header-wrap.short,
.footer-wrap.short {
  height: 108px;
  background: #000;
}
.header-wrap.short .header .pbg,
.footer-wrap.short .header .pbg,
.header-wrap.short .footer .pbg,
.footer-wrap.short .footer .pbg {
  opacity: 0;
}
.header-wrap.short .header .i .info-inner,
.footer-wrap.short .header .i .info-inner,
.header-wrap.short .footer .i .info-inner,
.footer-wrap.short .footer .i .info-inner {
  height: 108px;
}
.header-wrap.short .header .i .info-inner .logo-big,
.footer-wrap.short .header .i .info-inner .logo-big,
.header-wrap.short .footer .i .info-inner .logo-big,
.footer-wrap.short .footer .i .info-inner .logo-big {
  display: none;
}
.header-wrap.short .header .i .info-inner .logo-short,
.footer-wrap.short .header .i .info-inner .logo-short,
.header-wrap.short .footer .i .info-inner .logo-short,
.footer-wrap.short .footer .i .info-inner .logo-short {
  display: block;
}
.header-wrap.short .header .i .info-inner .social,
.footer-wrap.short .header .i .info-inner .social,
.header-wrap.short .footer .i .info-inner .social,
.footer-wrap.short .footer .i .info-inner .social {
  top: 23px;
}
.header-wrap.short .header .i .info-inner .social a,
.footer-wrap.short .header .i .info-inner .social a,
.header-wrap.short .footer .i .info-inner .social a,
.footer-wrap.short .footer .i .info-inner .social a {
  font-size: 10px;
  line-height: 16px;
}
.header-wrap.short .header .i .info-inner .social a.fb,
.footer-wrap.short .header .i .info-inner .social a.fb,
.header-wrap.short .footer .i .info-inner .social a.fb,
.footer-wrap.short .footer .i .info-inner .social a.fb {
  background-image: url("/img/fb-yell.svg");
}
.header-wrap.short .header .i .info-inner .social a.tw,
.footer-wrap.short .header .i .info-inner .social a.tw,
.header-wrap.short .footer .i .info-inner .social a.tw,
.footer-wrap.short .footer .i .info-inner .social a.tw {
  background-image: url("/img/tw-yell.svg");
}
.header-wrap.short .header .i .info-inner .social a.inst,
.footer-wrap.short .header .i .info-inner .social a.inst,
.header-wrap.short .footer .i .info-inner .social a.inst,
.footer-wrap.short .footer .i .info-inner .social a.inst {
  background-image: url("/img/inst-yell.svg");
}
.header-wrap.short .header .i .info-inner .social a.pn,
.footer-wrap.short .header .i .info-inner .social a.pn,
.header-wrap.short .footer .i .info-inner .social a.pn,
.footer-wrap.short .footer .i .info-inner .social a.pn {
  background-image: url("/img/pin-yell.svg");
}
.footer-wrap {
  height: 215px;
  background: #000;
}
.footer-wrap.short {
  height: 110px;
}
.footer {
  position: relative;
  width: 100%;
  height: 0px;
}
#benefits {
  overflow: hidden;
  display: none;
  -webkit-transition: 2s height 0.5s;
  -moz-transition: 2s height 0.5s;
  -o-transition: 2s height 0.5s;
  -ms-transition: 2s height 0.5s;
  transition: 2s height 0.5s;
  background: #000;
  height: 0;
}
#benefits .header,
#benefits .footer {
  display: none;
  background: url("/img/benefits-header.jpg") 50% 50%;
  background-size: auto 100%;
  height: 100%;
}
#benefits .header .i .info-inner,
#benefits .footer .i .info-inner {
  width: 940px;
  height: 108px;
}
#benefits .header.header .info-inner,
#benefits .footer.header .info-inner {
  background: url("/img/scup4cases.png") 50% 50% no-repeat;
}
#benefits .header.footer .copy,
#benefits .footer.footer .copy {
  font-size: 12px;
  color: #000;
  padding-top: 12px;
}
#benefits .header.footer .info-inner,
#benefits .footer.footer .info-inner {
  background: url("/img/scdown4cases.png") 50% 50% no-repeat;
}
#benefits .social a {
  color: #000;
}
#benefits .social a.fb {
  background-image: url("/img/fb-bl.svg");
}
#benefits .social a.tw {
  background-image: url("/img/tw-bl.svg");
}
#benefits .social a.inst {
  background-image: url("/img/inst-bl.svg");
}
#benefits .social a.pn {
  background-image: url("/img/pin-bl.svg");
}
#benefits .benefits-inn {
  width: 940px;
  margin: 67px auto 94px;
}
#benefits .benefits-inn .weare {
  padding: 33px 0;
}
#benefits .benefits-inn .weare .prefix {
  color: #ffda35;
  font-size: 30px;
  font-weight: 100;
}
#benefits .benefits-inn .weare .image {
  margin: 12px 0px 38px -4px;
}
#benefits .benefits-inn .weare .description {
  color: #fff;
  width: 435px;
  padding: 23px 0;
  background: url("/img/benefits/description.jpg") top left no-repeat;
  font-size: 15px;
  line-height: 18px;
}
#benefits .benefits-inn .weare.social .image {
  margin-left: -20px;
}
#benefits .benefits-inn .weare.produce .image {
  margin-left: -11px;
}
#benefits .benefits-inn .opinion {
  padding-top: 54px;
}
#benefits .benefits-inn .opinion .text {
  font-size: 30px;
  font-weight: 100;
  line-height: 36px;
  color: #fff;
  width: 820px;
}
#benefits .benefits-inn .opinion .text:before,
#benefits .benefits-inn .opinion .text:after {
  color: #ffda35;
  position: absolute;
  font-weight: bold;
}
#benefits .benefits-inn .opinion .text:before {
  content: "“";
  margin-left: -22px;
}
#benefits .benefits-inn .opinion .text:after {
  content: "”";
}
#benefits .benefits-inn .opinion .person {
  padding: 31px 50px;
  background: url("/img/benefits/copy.png") 3px 45px no-repeat;
  color: #fff;
  font-size: 14px;
  width: 255px;
  line-height: 17px;
}
#benefits .benefits-inn .opinion .person .photo {
  float: left;
  margin-right: 14px;
}
#benefits .benefits-inn .opinion .person .position {
  margin-top: 9px;
  font-weight: 100;
}
#benefits .benefits-inn .opinion .person .name {
  text-transform: uppercase;
  font-weight: bold;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}
.overlay.active {
  opacity: 1;
  z-index: 100;
}
.overlay.active .line {
  -webkit-animation: 1.5s lln infinite 1s;
  -moz-animation: 1.5s lln infinite 1s;
  -o-animation: 1.5s lln infinite 1s;
  -ms-animation: 1.5s lln infinite 1s;
  animation: 1.5s lln infinite 1s;
}
.overlay .line {
  width: 150%;
  height: 2px;
  background: #ffdb00;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  margin-left: -150%;
}
hr {
  border-top: none;
  margin: 5px 0;
}
@-moz-keyframes lln {
  0% {
    margin-left: -150%;
  }
  50% {
    margin-left: 0%;
  }
  100% {
    margin-left: 150%;
  }
}
@-webkit-keyframes lln {
  0% {
    margin-left: -150%;
  }
  50% {
    margin-left: 0%;
  }
  100% {
    margin-left: 150%;
  }
}
@-o-keyframes lln {
  0% {
    margin-left: -150%;
  }
  50% {
    margin-left: 0%;
  }
  100% {
    margin-left: 150%;
  }
}
@keyframes lln {
  0% {
    margin-left: -150%;
  }
  50% {
    margin-left: 0%;
  }
  100% {
    margin-left: 150%;
  }
}
