#template-case.template
    ul(style="background-image:url({images.list});background-color:{bgColor}")
        li.over(style="background-color:{bgColor}")
            .bg(style="background-image:url({images.cover})")
        //li.layer.over(data-depth="0.15")
        li.info
            .title /&nbsp;{title}
            .description {description}
            .links {links}

        li.link
            a(href="{link}")