#template-case-nav.template
    .nav-item.prev(style="background-color:{prev.bgColor}")
        .title(style="background-color:{prev.bgColor}", class="{prev.navColor}")
            .bg(style="background-image:url({prev.images.navCover})")
            span {prev.title}
            .preview(style="background-image:url({prev.images.nav});")
        a.full-link(href="{prev.link}")

    .nav-item.next(style="background-color:{next.bgColor}")
        .title(style="background-color:{next.bgColor}", class="{next.navColor}")
            .bg(style="background-image:url({next.images.navCover})")
            span {next.title}
            .preview(style="background-image:url({next.images.nav});")
        a.full-link(href="{next.link}")