#template-case-page.template
    .menu
    .case(class="{id}")
        .case-hdr(style="background-image:url({images.page})")
            .content
                .logo
                    img(src="{images.logo}")
                .title {title}
                .site
                    a(target="blank", href="//{site}") {site}

        .case-features
            .case-features-inner
        .case-likes
            .fb-wr
                .fb-like( data-href="http://danmoscow.ru{link}", data-width="500px", data-layout="button_count", data-action="like", data-show-faces="false" ,data-share="false")
            .tw-like
                a.twitter-share-button( href="https://twitter.com/share") Tweet

        .case-content
            .head
                .inner {case.head}
            .description
                .inner
                    h4 /Описание
                    | {case.description}
                    h4 /Задача
                    | {case.task}
            .solve
                .inner
                    h4 /Решение
                    | {case.solve}
            .misc
                .inner {case.misc}
        .case-likes
            .fb-wr
                .fb-like( data-href="http://danmoscow.ru{link}", data-width="500px", data-layout="button_count", data-action="like", data-show-faces="false" ,data-share="false")
            .tw-like
                a.twitter-share-button( href="https://twitter.com/share") Tweet


    .menu