#template-case-link.template
    //a(href="{addr}")
    a
        .unhovered
            span.code {code}
        .hovered(class="index-{i}")
            span.code {code}
            span.desc {name}

#template-case-link-big.template
    .case-link-big
        span.code {code}
        span.name {name}
