#template-identity-head.template

    #slider-identity.slider
        img(src="/img/identity/slider-1.jpg")
        img(src="/img/identity/slider-2.jpg")
        img(src="/img/identity/slider-3.jpg")
        img(src="/img/identity/slider-4.jpg")

    .values Ценности adidas Running


    script
        :coffee
            window["identity"] = ->
                $(".identity .case-hdr .title").html $(".identity .case-hdr .title").text().replace "Adidas", "<img src='/img/running/logo.png'>"
                $("#slider-identity").appear()
                $("#slider-identity").one "appear", ->
                    console.log "appear"
                    setTimeout ->
                        $("#slider-identity").find(".slidesjs-play").click()
                    , 2500
                    $("#slider-identity").slidesjs
                        width: 1055
                        height: 715
                        play:
                            active: true
                            auto: false
                            interval: 2500
                            effect: "fade"
                        effect:
                            fade:
                                speed: 500


#template-identity-misc.template
    center
        img(src='/img/identity/misc-top.jpg')

    .deside.description
        .inner
            h4 /РЕЗУЛЬТАТЫ
            | Простота ввода (его можно найти на&nbsp;любой клавиатуре) позволила знаку войти в&nbsp;повседневную жизнь бегунов: он&nbsp;появляется в&nbsp;их&nbsp;твитах, SMS и&nbsp;статусах в&nbsp;соц.сетях.
            | <hr>Символ легко влился в беговую культуру<br>и стал фирменной подписью adidas Running>


    center
        img(src='/img/identity/misc-bot.jpg')