#template-winterwinners-misc.template
    .steps
        .hdr Проект состоял<br>из нескольких частей
        .pointer 1
        .pointer-2 2
        .desc.desc-1
            span 1
            | Мы создали виртуальную трехмерную копию<br> бобслейной трассы Олимпийских Зимних Игр<br> Сочи 2014
        .desc.desc-2
            span 2
            | Боб-тренажер делался с&nbsp;нуля и&nbsp;должен был стать максимально приближенным к&nbsp;его реальному прототипу. Всё управление болидом было реализовано в&nbsp;точности, как на&nbsp;настоящем снаряде. Пользователь управлял кольцами, сидя внутри и&nbsp;следил за&nbsp;трассой на&nbsp;экране, в&nbsp;то&nbsp;время как положение боба менялось по&nbsp;трём осям.


    #slider.slider
        img(src="/img/winterwinners/slider-1.jpg")
        img(src="/img/winterwinners/slider-2.jpg")
        img(src="/img/winterwinners/slider-3.jpg")
        img(src="/img/winterwinners/slider-4.jpg")
        img(src="/img/winterwinners/slider-5.jpg")
        img(src="/img/winterwinners/slider-6.jpg")
        img(src="/img/winterwinners/slider-7.jpg")
        img(src="/img/winterwinners/slider-8.jpg")
        img(src="/img/winterwinners/slider-9.jpg")
    .stand
        img(src="/img/winterwinners/stand.png")

    .steps-2
        .desc
            span 3
            | Пока пользователь проходил дистанцию, на&nbsp;самых крутых виражах трека срабатывала камера. После полученные фото пользователь мог отправить на&nbsp;адрес своей электронной почты. Пользователь также мог узнать, какое место среди других участников он&nbsp;занял в&nbsp;турнирной таблице на&nbsp;промосайте проекта.
        img(src="/img/winterwinners/bottom.jpg")

    script
        :coffee
            window.winterwinners = ->
                $("#slider").appear()
                $("#slider").one "appear", ->
                    console.log "appear"
                    setTimeout ->
                        $("#slider").find(".slidesjs-play").click()
                    , 2500

                $("#slider").slidesjs
                    width: 995
                    height: 554
                    play:
                        active: true
                        auto: false
                        interval: 2500

                    effect:
                        slide:
                            speed: 500
