#template-printersprinter-head.template

    #slider-printer.slider
        img(src="/img/printer-sprinter/slider-1.jpg")
        img(src="/img/printer-sprinter/slider-2.jpg")
        img(src="/img/printer-sprinter/slider-3.jpg")

    script
        :coffee
            window["printer-sprinter"] = ->
                slider = $("#slider-printer").appear()
                slider.one "appear", ->
                    console.log "appear"
                    setTimeout ->
                        slider.find(".slidesjs-play").click()
                    , 2500
                    slider.slidesjs
                        width: 1060
                        height: 707
                        play:
                            active: true
                            auto: false
                            interval: 2500
                        effect:
                            slide:
                                speed: 500